html, body {
  margin: 0;
  padding: 0;
}

hr {
  height:0;
  border:0;
  border-top:4px solid #52A54A;

}

/** HERO **/

.hero {
  background-color: #52A54A;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.devices_image {
  background-image: url(../images/ridestarter/ridestarter_hero_image.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 500px 400px 0px 500px;
  top: 200px;
  left: 100px;
}

.title_container {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 500px;
  height: 400px;
}

.title_container h1 {
  letter-spacing: 5;
  font-size: 48px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}

.title_container p {
  letter-spacing: 3;
  font-size: 24px;
  text-align: center;
  color: #DDDDDD;
  font-family: sans-serif;
  font-weight:100;
  margin-top: -20px;
}

.arrow_down_container {
  position: absolute;
  right: 180px;
  top: 280px;
  font-size: 80px;
}

.fa-arrow-circle-o-down {
  color: white;
}

.arrow_back_container {
  position: absolute;
  left: 40px;
  top: 40px;
}

.fa-arrow-circle-o-left {
  color: white;
  text-decoration: none;
}

@media (max-width: 480px) {
  .title_container {right: 60px; width: 300px;}
  .title_container h1 {letter-spacing: 1;}
  .title_container p {margin-left: 40px;}
  .arrow_down_container {top: 400px; right: 90px;}
  .devices_image{background-image: none;}
}

@media (min-width: 480px) and (max-width: 768px)  {
  .devices_image{background-image: none;}
  .title_container {right: 90px; width: 350px;}
  .title_container h1 {letter-spacing: 1;}
  .arrow_down_container {top: 380px; right: 130px;}
}

@media (min-width: 768px) and (max-width: 1380px) {
  .title_container {
    top:-10px;
    width: 700px;
  }
  .arrow_down_container {
    top: 20px;
    right: 10px;
  }
}

/** HERO **/

/** NAVIGATION **/

.navigation {
  background-color: #EEEEEE;
  width: 100%;
  box-shadow: 0px 2px 5px #888888;
}

.navigation h2 {
  display: inline-block;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  margin-right: 10px;
  margin-left: 30px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 480px) {
  .navigation h2 {font-size:16px;}
}

@media (min-width: 480px) and (max-width: 768px) {
  .navigation h2 {font-size:18px;}
}

@media (min-width: 768px) and (max-width: 1380px) {
  .navigation h2 {font-size:18px;}
}

/** NAVIGATION **/

/** SUMMARY **/

.summary_container {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.summary_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
}

.summary_container p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

/** SUMMARY **/

/** SOLUTION **/

.solution {
  margin-top: 50px;
  background-color: #52A54A;
}

.solution_container {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.solution_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
  color: white;
}

.solution_container p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  color: white;
}

/** SOLUTION **/

/** RESEARCH **/

.research_container {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.research_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
}

.survey_findings {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
}

.survey_findings p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.survey_findings a{
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  color: #52A54A;
  text-decoration: none;
}

.survey_image {
  background-image: url(../images/ridestarter/survey.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 300px 200px 300px;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 20px;
}

.personas {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
}

.personas p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.luke {
  background-image: url(../images/ridestarter/luke.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 330px;
  height: 270px;
  float: left;
  box-shadow: 0px 2px 5px #888888;
  margin-left: 20px;
}

.peter {
  background-image: url(../images/ridestarter/peter.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 330px;
  height: 270px;
  float: left;
  margin-left: 20px;
  box-shadow: 0px 2px 5px #888888;
}

.hunter {
  background-image: url(../images/ridestarter/hunter.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 330px;
  height: 270px;
  float: left;
  margin-left: 20px;
  box-shadow: 0px 2px 5px #888888;
}

@media (max-width: 480px) {
  .survey_image {
    background-size: contain;
    padding: 0px;
    width: 300px;
    height: 100px;
  }
  .luke {
    margin-bottom: 20px;
  }
  .peter {
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .survey_image {
    background-size: cover;
    padding: 0px;
    width: 450px;
    height: 200px;
  }
  .luke {
    margin-bottom: 20px;
  }
  .peter {
    margin-bottom: 20px;
  }
  .hunter {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1380px) {
  .luke {
    margin-bottom: 20px;
    margin-left: 0;
    width: 190px;
    height: 130px;
  }
  .peter {
    margin-bottom: 20px;
    width: 190px;
    height: 130px;
  }
  .hunter {
    margin-bottom: 40px;
    width: 190px;
    height: 130px;
    margin-left: 0px;
  }
}

/** RESEARCH **/

/** DESIGN CHOICES **/

.design_choices {
  margin-top: 350px;
  padding-bottom: 40px;
}

.design_container {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.design_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
}

.user_flow {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
}

.user_flow p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.user_flow a {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  color: #52A54A;
  text-decoration: none;
  cursor: pointer;
}

.user_flow_image {
  background-image: url(../images/ridestarter/user_flow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 580px;
  height: 750px;
  margin: 0 auto;
  box-shadow: 0px 2px 5px #888888;
  background-color: white;
  margin-top: 20px;
}

.branding {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
}

.branding p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.branding_picture {
  background-image: url(../images/ridestarter/ridestarter_branding.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
}

.low_mockups {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
}

.low_mockups p{
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.low_mockups_image_container {
}

.homepage_low_image {
  background-image: url(../images/ridestarter/homepage_low.png);
  width: 50%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 80px;
}

.charity_low_image {
  background-image: url(../images/ridestarter/charity_low.png);
  width: 50%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 80px;
}

@media (max-width: 480px) {
  .design_choices {margin-top:850px;}
  .user_flow_image {
    background-size: cover;
    width: 300px;
    height: 410px; }
  .branding_picture {
    background-image: url(../images/ridestarter/ridestarter_branding.png);
    width: 300px;
    height: 250px;
    background-size: contain;
  }
  .homepage_low_image {
    height: 200px;
  }
  .charity_low_image {
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .design_choices {
    margin-top: 900px;
  }
  .user_flow_image {
    background-size: cover;
    width: 300px;
    height: 410px; }
  .branding_picture {
    background-image: url(../images/ridestarter/ridestarter_branding.png);
    width: 350px;
    height: 300px;
    background-size: contain;
    }
}

@media (min-width: 768px) and (max-width: 1380px) {
  .design_choices {
    margin-top:200px;
  }
}

/** DESIGN CHOICES **/

/** IMPLEMENTATION **/

.implementation  {
  margin-top: 30px;
}

.implement_container {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.implement_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
}

.user_testing {
  text-align: left;
  font-size: 32px;
  font-family: cabin, sans-serif;
  margin-top: 30px;
}

.user_testing p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  font-weight: normal;
}

.quotes {
  background-color: #52A54A;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.quotes p {
  color: white;
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  width: 75%;
  margin: 0 auto;
  font-weight: 300;
  font-style: italic;
  padding-top: 20px;
}

.special_features {
  text-align: left;
  margin: 0 auto;
  width: 75%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 32px;
  font-family: cabin, sans-serif;
  height: 2000px;
}

.charity_page_container {
  margin-top: 40px;
}

.charity_page_text {
  float: right;
  font-size: 28px;
  width: 45%;
  height: 900px;
}

.charity_page_text p{
  font-size: 22px;
  font-family: helvetica, sans-serif;
}

.charity_page_image {
  background-image: url(../images/ridestarter/charity_page.png);
  float: left;
  width: 50%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
}

.guest_checkout_container {
}

.guest_checkout_text{
  font-size: 28px;
  width: 45%;
  float: left;
  margin-top: 60px;
  height: 400px;
}

.guest_checkout_text p{
  font-size: 22px;
  font-family: helvetica, sans-serif;
}

.guest_checkout_image {
  background-image: url(../images/ridestarter/guest_checkout.png);
  float: right;
  width: 45%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 60px;
}

.filter_container {
}

.filter_text {
  font-size: 28px;
  width: 45%;
  float: right;
  margin-top: 60px;
}

.filter_text p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
}

.filter_image {
  background-image: url(../images/ridestarter/filter.png);
  float: left;
  width: 50%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
}

@media (max-width: 480px) {
  .charity_page_image {
    float: none;
    width:350px;
    height: 580px;
    background-size: contain;
    margin-top: 140px;
  }
  .charity_page_text{
    float: none;
    width: 350px;
  }
  .guest_checkout_image {
    float: none;
    background-size: contain;
    width: 340px;
    height: 280px;
    margin-top: -40px;
  }
  .guest_checkout_text {
    float: none;
    width: 350px;
  }
  .filter_image {
    float: none;
    background-size: contain;
    width: 350px ;
    height: 370px ;
  }
  .filter_text {
    float: none;
    width: 350px;
  }
  .special_features {
    height: 3200px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .charity_page_image {
    float: none;
    width:350px;
    height: 580px;
    background-size: contain;
    margin-top: 40px;
  }
  .charity_page_text{
    float: none;
    width: 400px;
  }
  .guest_checkout_image {
    float: none;
    background-size: contain;
    width: 340px;
    height: 280px;
    margin-top:-80px;
  }
  .guest_checkout_text {
    float: none;
    width: 400px;
  }
  .filter_image {
    float: none;
    background-size: contain;
    width: 350px ;
    height: 370px ;
  }
  .filter_text {
    float: none;
    width: 400px;
  }
  .special_features {
    height: 3100px;
  }
}

@media (min-width: 768px) and (max-width: 1380px) {
}

/** IMPLEMENTATION **/

.final {
}

.final_container {
  text-align: left;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 60px;
  font-size: 28px;
  font-family: cabin, sans-serif;
}

.final_container h1 {
  font-size: 48px;
  font-family: cabin, sans-serif;
  text-align: center;
}

.final_container p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
}

.final_container a {
  text-decoration: none;
  font-size: 22px;
  text-align: left;
  font-family: helvetica, sans-serif;
  color: #52A54A
}

.final_image {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.final_homepage {
  background-image: url(../images/ridestarter/homepage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 265px;
  float: left;
  box-shadow: 0px 2px 5px #888888;
  margin-left: 70px;
  margin-top: 30px;
}

.final_charity {
  background-image: url(../images/ridestarter/charity_page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 300px;
  float: left;
  margin-left: 30px;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 30px;
}

.final_payment {
  background-image: url(../images/ridestarter/payment.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 290px;
  float: left;
  margin-left: 30px;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 30px;
}

.conclusion {
  background-color: #52A54A;
  width: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.conclusion h1 {
  font-size: 32px;
  width: 75%;
  margin: 0 auto;
  font-family: cabin, sans-serif;
  font-weight: 400;
}

.conclusion p {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .final_container {
    padding-bottom: 1150px;
  }
  .final_homepage {
    margin-left: 30px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .final_container {
    padding-bottom: 1150px;
  }
  .final_homepage {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1380px) {
  .final_homepage {
    background-size: contain;
    height: 320px;
    width: 170px;
    float: left;
    margin-left: 0px;
    box-shadow: 0px 2px 5px #888888;
    margin-top: 30px;

  }
  .final_payment {
    background-size: contain;
    height: 300px;
    width: 170px;
    float: left;
    margin-left: 30px;
    box-shadow: 0px 2px 5px #888888;
    margin-top: 30px;
  }
  .final_charity {
    background-size: contain;
    height: 280px;
    width: 170px;
    float: left;
    margin-left: 30px;
    box-shadow: 0px 2px 5px #888888;
    margin-top: 30px;
  }
}
