html, body {
  margin: 0;
  padding: 0;
}

hr {
  height: 0;
  border: 0;
  border-top:3px solid #75B46F;
}

p {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
}

/** HERO **/

.hero {
  background-color: #75B46F;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hero_container {
  padding-top: 120px;
  width: 90%;
  margin: 0 auto;
}

.hero_container img{
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 60%;
}

.title_container {
  float: left;
  width: 40%;
}

.title_container h1 {
  letter-spacing: 5;
  font-size: 48px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}

.title_container p {
  letter-spacing: 3;
  font-size: 24px;
  text-align: center;
  color: #DDDDDD;
  font-family: sans-serif;
  font-weight:100;
  margin-top: -20px;
}

.arrow_down_container {
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
}

.fa-arrow-circle-o-down {
  color: white;
}

.arrow_back_container {
  clear: both;
  padding: 40px 0px 0px 40px;
}

.fa-arrow-circle-o-left {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .hero_container {
    padding-top: 20px;
    width: 100%;
  }
  .title_container {
    width: 100%;
  }
  .hero img {
    width: 80%;
    margin-left: 10%;
  }
  .title_container h1 {
    font-size: 40px;
  }
  .title_container p {
    font-size: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .hero_container {
    width: 60%;
    margin: 0 auto;
    padding-top: 0px;
  }
  .title_container {
    width: 100%;
  }
  .hero img {
    width: 80%;
    margin-left: 10%;
  }
}

/** HERO **/

/** NAVIGATION **/

.navigation {
  background-color: #F4F4F4;
  width: 100%;
  box-shadow: 0px 2px 5px #888888;
  clear: both;
}

.navigation h2 {
  display: inline-block;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  margin-right: 10px;
  margin-left: 30px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1;
}

@media screen and (max-width: 640px) {
  .navigation h2 {
    font-size:10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .navigation h2 {
    font-size:16px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/** NAVIGATION **/

/** SUMMARY **/

.summary_container {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.summary_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
}

.summary_container p {
  font-size: 20px;
  text-align: left;
}

/** SUMMARY **/

/** SOLUTION **/

.solution {
  margin-top: 50px;
  background-color: #75B46F;
  box-shadow: 0px 2px 5px #888888;
}

.solution_container {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.solution_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
  color: #232323;
}

.solution_container p {
  text-align: left;
  color: #232323;
}

/** SOLUTION **/

/** RESEARCH **/

.research_container {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.research_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
}

.survey_findings {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
}

.survey_findings a{
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  color: #75B46F;
  text-decoration: none;
}

.survey_findings img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.competitive_analysis {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
  margin: 0 auto;
}

.competitive_analysis p {
  text-align: left;
}

.competitive_analysis a {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  color: #75B46F;
    text-decoration: none;
}

.competitive_analysis img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.personas {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
  margin: 0 auto;
}

.personas img {
  display: inline-block;
  width: 30%;
}

.personas p {
  text-align: left;
}


@media screen and (max-width: 640px) {
  .personas img {
    display: grid;
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .personas img {
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
  }
}

/** RESEARCH **/

/** DESIGN CHOICES **/

.design_choices {
}

.design_container {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.design_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
}

.user_flow {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
}

.user_flow p {
  text-align: left;
}

.user_flow a {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  color: #75B46F;
  text-decoration: none;
  cursor: pointer;
  padding-right: 200px;
}

.user_flow img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  margin-top: 20px;
  background-color: white;
}

.branding {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
}

.branding p {
  text-align: left;
}

.branding img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
}

.low_mockups {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
  margin-top: 40px;
}

.low_mockups p{
  text-align: left;
  clear: both;
}

.low_mockups img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

/** DESIGN CHOICES **/

/** IMPLEMENTATION **/

.implementation  {
}

.implement_container {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.implement_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
}

.user_testing {
  text-align: left;
  font-size: 26px;
  font-family: cabin, sans-serif;
  margin-top: 30px;
}

.user_testing p {
  text-align: left;
  font-weight: normal;
}

.quotes {
  background-color: #75B46F;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  box-shadow: 0px 2px 5px #888888;
}

.quotes p {
  color: white;
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
  font-style: italic;
  padding-top: 20px;
}

.special_features {
  text-align: left;
  margin: 0 auto;
  width: 70%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 26px;
  font-family: cabin, sans-serif;
}

.charity_page_container {
  margin-top: 40px;
  height: 760px;
}

.charity_page_text {
  font-size: 26px;
  float: left;
  width: 50%;
  margin-left: 40px;
}

.charity_page_text p{
}

.charity_page_text h1 {
  font-size: 28px;
}

.charity_page_container img {
  float: left;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
}

.guest_checkout_container {
  height: 400px;
}

.guest_checkout_text{
  font-size: 26px;
  width: 50%;
  float: left;
  margin-left: 40px;
}

.guest_checkout_text p{
}

.guest_checkout_container img {
  float: left;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
}

.filter_container {
}

.filter_text {
  font-size: 26px;
  width: 50%;
  float: left;
  margin-left: 40px;

}

.filter_text p {
}

.filter_container img {
  float: left;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #888888;
}

@media screen and (max-width: 640px) {
  .charity_page_text {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .charity_page_container img {
    width: 100%;
  }
  .guest_checkout_text {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .guest_checkout_container img {
    width: 100%;
  }
  .filter_text {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .filter_container img {
    width: 100%;
    margin-top: 40px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .charity_page_text {
    width: 100%;
    margin-top: 20px;
  }
  .charity_page_container img {
    width: 50%;
    margin-left: 25%;
  }
  .guest_checkout_text {
    width: 100%;
  }
  .guest_checkout_container img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
  }
  .filter_text {
    width: 100%;
    margin-top: 20px;
  }
  .filter_container img {
    width: 50%;
    margin-left: 25%;
  }
}


/** IMPLEMENTATION **/

.final {
  clear: both;
}

.final_container {
  text-align: left;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  font-size: 26px;
  font-family: cabin, sans-serif;
}

.final_container h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
  text-align: center;
}

.final_container p {
  text-align: left;
}

.final_container a {
  text-decoration: none;
  font-size: 22px;
  text-align: left;
  font-family: helvetica, sans-serif;
  color: #75B46F;
}

.final_container img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.conclusion {
  background-color: #75B46F;
  width: 100%;
  color: #232323;
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  box-shadow: 0px 2px 5px #888888;
}

.conclusion h1 {
  font-size: 26px;
  width: 70%;
  margin: 0 auto;
  font-family: cabin, sans-serif;
}

.conclusion p {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (max-width: 640px) {

}

@media (min-width: 640px) and (max-width: 1200px) {

}

.contact {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 40px;
}

.contact h1 {
  font-size: 42px;
  font-family: cabin, sans-serif;
  text-align: center;
}

.contact p {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.button_touch {
  border-radius: 8px;
  color: #232323;
  font-size: 20px;
  width: 150px;
  height: 53px;
  border: solid #1A505A 2px;
  text-decoration: none;
  background: none;
  font-family: sans-serif;
  letter-spacing: 1;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

/** FOOTER **/

.footer {
  width: 100%;
  background-color: #1A505A;
  padding-bottom: 50px;
  padding-top: 20px
}
.left_footer {
  float: left;
  padding-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 10px;
}

.right_footer {
  color: white;
  letter-spacing: 3px;
  float: right;
  margin-right: 20px;
}
.fa {
  color: white;
}

@media (max-width: 480px) {
  .right_footer {float: none;text-align: center; margin-top: 20px;}
  .left_footer {float: none;}
}

@media (min-width: 1440px) {
  .project_container {width: 70%;}
}


/** FOOTER **/
