html, body {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 20px;
  font-family: 'Catamaran', Helvetica, sans-serif;

}

ul li {
  margin: 15px;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-weight: 200;
  display: list-item;
}

p {
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

a {
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #7D9DBD;
}

h4 {
  font-size: 14px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-weight: normal;
}

.underline_black {
  border-bottom: 2px solid #232323;
}

.highlights {
  background-color: #ecf0f1;
  padding: 0.5em 0;
  margin: 20px 0;
}

@media screen and (max-width: 640px)  {
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  h1 {
    font-size: 22px;
  }
  ul li {
    font-size: 14px;
    margin: 10px;
  }
}

/** HERO **/

.hero {
  background-image: url("../images/simplebox_cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 100%;
}

.hero_overlay {
  background-color: black;
  width: 100%;
  height: 80%;
  position: absolute;
  opacity: 0.6;
}


.hero_container{
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}

.hero_content {
  width: 50%;
  margin: 0 auto;
}

.hero_content h1 {
  letter-spacing: 4;
  font-size: 48px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-bottom: 0px;
}

.hero_content p {
  letter-spacing: 1;
  font-size: 22px;
  text-align: center;
  color: white;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-weight:400;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
}

.arrow_back_container {
  position: absolute;
  top: 5% ;
  left: 3%;
}

.arrow_down_container {
  text-align: center;
  margin-top: 30px;
  margin-bottom:40px;
}

.button_container {
  text-align: center;
  margin-top: 40px;
}

.button_projects {
  width: 140px;
  height: 45px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #fff;
  background: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button_projects:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


@media screen and (max-width: 640px) {
  .hero_container {
    width: 100%;
  }
  .hero_content {
    width: 100%;
  }
  .hero img {
    width: 80%;
    margin-left: 10%;
  }
  .hero_content h1 {
    font-size: 40px;
  }
  .hero_content p {
    font-size: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .hero_container {
    width: 60%;
    padding-top: 0px;
  }
  .hero_content {
    width: 100%;
  }
  .hero img {
    width: 60%;
    margin-left: 20%;
  }
}

/** HERO **/

/** NAVIGATION **/

.navigation {
  background-color: white;
  width: 100%;
  clear: both;
  opacity: 0.9;
  text-align: center;
  box-shadow: 0px 2px 5px #888888;
}

.navigation h2 {
  display: inline-block;
  font-size: 14px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  cursor: pointer;
  letter-spacing: 1;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 640px){
  .navigation {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .navigation h2 {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/** NAVIGATION **/

/** SUMMARY **/

.summary_container {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  padding-top: 80px;
  padding-bottom: 40px;
}

.summary_container p {
  text-align: center;
}


.summary_deliver {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding-bottom: 40px;
}

.deliver {
  display:inline-block;
  text-align: center;
  float: left;
  width: 33.33%;
}

.deliver p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color:#232323;
}

@media screen and (max-width: 640px) {
  .summary_container {
    width: 90%;
    padding-top: 0px;
  }
  .summary_deliver{
    width: 90%;
  }
}

/** SUMMARY **/

/** SOLUTION **/

.problem {
}

.problem_container {
  float: left;
  width:50%;
  background-color: #F0F0F0;
  padding: 3% 0;
}

.problem_container h1 {
  color: #232323;
  text-align: center;
}

.problem_container p {
  text-align: center;
  color: #232323;
  width: 60%;
  margin: 0 auto;
  font-family: 'Catamaran', Helvetica, sans-serif;
}

.solution_container {
  width: 50%;
  float: left;
  background-color: #F8F8F8;
  padding: 3% 0;
}

.solution_container h1 {
  color: #232323;
  text-align: center;
}

.solution_container p {
  text-align: center;
  color: #232323;
  width: 60%;
  margin: 0 auto;
  font-family: 'Catamaran', Helvetica, sans-serif;
}

@media screen and (max-width: 640px) {
  .problem_container {
    width: 100%;
  }
  .problem_container p {
    width: 90%;
  }
  .solution_container {
    width: 100%;
  }
  .solution_container p {
    width: 90%;
  }
}



/** SOLUTION **/

/** RESEARCH **/

.research {
  clear: both;
  padding-top: 40px;
}

.research_container {
  margin: 0 auto;
  width: 60%;
}

.research_container p {
  text-align: left;
  color: #232323;
}

.research_container img {
  width:100%;
  box-shadow: 0px 2px 5px #888888;
  background-size: cover;
}

.user_flow {
  padding-top: 20px;
}

.user_flow_container {
  font-size: 26px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  width: 60%;
  margin: 0 auto;
}

.user_flow_container p {
  text-align: left;
}

.user_flow_container a {
  text-align: left;
  text-decoration: none;
  color: #7D9DBD;
  clear: both;
}

#normal_flow {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#returning_flow {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 640px) {
  #normal_flow {
    width: 100%;
  }
  #returning_flow {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .research_container {
    width: 90%;
  }
  .user_flow_container {
    width: 90%;
  }
}

@media (min-width: 640px) and (max-width: 1200px)  {
  #normal_flow {
    width: 40%;
    margin-left: 10%;
  }
  #returning_flow {
    width: 40%;
    margin-left: 20px;
  }
  .research_container img {
    width: 100%;
  }
}

/** RESERACH **/

/** BRANDING **/

.branding {
  width: 60%;
  margin: 0 auto;
  clear: both;
  padding-top: 40px;
}

.branding p {
  text-align: left;
}

.branding img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
  width: 100%;
}


.lofi {
  width: 60%;
  margin: 0 auto;
  clear: both;
  padding-top: 40px;
}

.lofi {
  text-align: left;
}

.lofi img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .branding {
    width: 90%;
  }
}

/** BRANDING **/

/** LOW-FIDELITY **/

.low_fidelity {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}

.low_fidelity p {
  text-align: left;
}

.low_fidelity a {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  text-align: left;
  text-decoration: none;
  color: #7D9DBD
}

.low_fidelity img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 20px;
}

.highlights h1 {
  margin-left:50px;
  font-size: 20px;
  border-bottom: 2px solid #232323;
  margin-right: 50px;
}

.highlights p {
  margin: 30px;
}

@media screen and (max-width: 640px) {
  .low_fidelity {
    width: 90%;
  }
}

/** LOW-FIDELITY **/

/** HIGH-FIDELITY **/

.high_fidelity {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}

.high_fidelity p {
  text-align: left;
}

.high_fidelity img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
  width: 100%;
  margin-top: 20px;
}

.high_fidelity a {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  text-align: left;
  text-decoration: none;
  color: #7D9DBD;
}

@media screen and (max-width: 640px) {
  .high_fidelity {
    width: 90%;
  }
}

/** HIGH-FIDELITY **/

/** VISUAL  **/

.visual {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}

.visual img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 20px;
}

/** VISUAL **/

/** HTML **/

.html {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.html h1 {
  font-size: 20px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.html a {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  text-align: left;
  color: #7D9DBD;
  text-decoration: none;
}

.html img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #888888;
  width: 100%;
  margin-top: 20px;
}

/** HTML **/

.conclusion a {
  color:#7D9DBD;
  text-decoration: none;
}

.conclusion img {
  width: 100%;
}

.arrow_up_container {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 40px;
}

.arrow_up_container h1 {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
  text-align: center;
}

.conclusion {
  background-color: #F8F8F8;
  color: white;
}

.conclusion_container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 0px 0;
  color: #232323;
}

.conclusion_container h1 {
  font-size: 20px;
}

.arrow_up_container {
  text-align: center;
  padding-bottom: 10px;
}

.arrow_up_container h1 {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
}

@media screen and (max-width: 640px) {
  .final_container, .conclusion_container {
    width: 90%;
  }
}


@media screen and (max-width: 640px) {
  .conclusion img {
    width: 100%;
    margin-left: 0;
  }
  .html img {
    width: 100%;
  }
  .final_product {
    width: 90%;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .conclusion img {
    width: 100%;
    margin-left: 0;
  }
}


/** FINAL PRODUCT **/

/** FOOTER **/

.footer {
  width: 100%;
  background-color: #1A505A;
  padding-bottom: 50px;
  padding-top: 20px
}
.left_footer {
  float: left;
  padding-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 10px;
}

.right_footer {
  color: white;
  letter-spacing: 3px;
  float: right;
  margin-right: 20px;
}
.fa {
  color: white;
}

@media (max-width: 480px) {
  .right_footer {float: none;text-align: center; margin-top: 20px;}
  .left_footer {float: none;}
}

@media (min-width: 1440px) {
  .project_container {width: 70%;}
}


/** FOOTER **/
