html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBFBFB;
}

hr {
  height: 0;
  border: 0;
  border-top:2px solid #1A505A;
  margin-top:-20px;
  margin-bottom: 40px;
  width: 80px;
}

#hr_about {
  height: 0;
  border: 0;
  border-top:2px solid #1A505A;
  margin-top: -20px;
  margin-bottom: 40px;
  width: 80px;
}

a {
  color:#1A505A;
  text-decoration: none;
}

/* NAVIGATION BAR */

.hero {
  background-image: url(../images/yosemite.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  box-shadow: 0px 2px 5px #888888;
}

.hero_container {
  margin: 0 auto;
  padding-top: 10%;
  width: 70%;
  clear: both;

}

.hero_container h1 {
  letter-spacing: 5;
  font-size: 48px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}

.hero_container p {
  letter-spacing: 3;
  font-size: 24px;
  text-align: center;
  color: #DDDDDD;
  font-family: sans-serif;
  font-weight:100;
  margin-top: -20px;
  line-height: 1.5em;
}

.middle_button_container {
  text-align: center;
  margin-top: 30px;
}

.top_button_container {
  float: right;
  padding-top: 3%;
  padding-right: 2%;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #fff;
  background: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.arrow_down_container{
  text-align: center;
  margin-top: 40px;
}

 .fa-arrow-circle-o-down {
   color: white;
}

@media screen and (max-width: 640px) {
  .hero_container {
    width: 90%;
  }
  .hero_container h1 {
    font-size: 32px;
  }
  .hero_container p {
    font-size: 20px;
    margin-top: 0;
  }
  .arrow_down_container{
    margin-bottom: 40px;
  }
  .top_button_container {
    float: none;
    text-align: center;
    padding-right: 0;
  }
  .button {
    font-size: 12px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .top_button_container {
    float: none;
    text-align: center;
    padding-right: 0;
  }
}


/* ABOUT */

.about {
  padding-top: 40px;
  clear: both;
}

.about_container {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.about_container h1{
  letter-spacing: 5;
  font-size: 38px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: #1A505A;
  font-weight: 600;
  padding-top: 50px;
}

.about_left p {
  letter-spacing: 1;
  font-size: 18px;
  text-align: left;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  margin-bottom: 30px;
  line-height: 1.8em;

}

.about_left h2 {
  font-size: 24px;
  text-align: left;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  margin: 0 auto;

}

@media screen and (max-width: 640px) {
  .about {
    padding-top: 0px;
  }
  .about_container {
    width: 90%;
  }
  .about_container p {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .about_left h2 {
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .about {
    padding-top: 0px;
  }
}


/* ABOUT */

/* PROJECTS */

.projects {
  padding-top: 40px;
}

.projects h1 {
  letter-spacing: 5;
  font-size: 38px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: #1A505A;
  font-weight: 600;
}

.project_container {
  width: 70%;
  margin: 0 auto;
}

.ridestarter_container {

}

.ridestarter_text {
  width: 55%;
  float: left;
}

.ridestarter_text h1 {
  letter-spacing: 4;
  font-size: 34px;
  font-family: helvetica, sans-serif;
  color: #75B46F;
  font-weight: 600;
}

.ridestarter_text h2 {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
  font-weight: 400;
  margin-top: -20px;
  text-align: center;
  letter-spacing: 1;
}

.ridestarter_text p {
  letter-spacing: 1;
  font-size: 18px;
  text-align: center;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  width: 75%;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 15px;
}

.ridestarter_button {
  text-align: center;
  margin-top: 20px;
}

.ridestarter_container img {
  max-width: 45%;
  float: left;
  background-image: url(../images/ridestarter_laptop.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}

.simplebox_container {
  clear: both;
  padding-top: 80px;
}

.simplebox_text {
  width: 55%;
  float: left;
}

.simplebox_text h1 {
  letter-spacing: 4;
  font-size: 34px;
  font-family: helvetica, sans-serif;
  color: #7D9DBD;
  font-weight: 600;
}

.simplebox_text h2 {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
  font-weight: 400;
  margin-top: -20px;
  text-align: center;
  letter-spacing: 1;
}

.simplebox_text p {
  letter-spacing: 1;
  font-size: 18px;
  text-align: center;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-weight:400;
  width: 75%;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 15px;
}

.simplebox_button {
  text-align: center;
  margin-top: 20px;
}

.simplebox_container img{
  width: 45%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}

.more_projects {
  clear: both;
  padding-top: 80px;
}

.more_projects img {
  width: 45%;
  float: left;
  background-image: url(../images/simplebox_laptop.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}

.more_projects_text {
  width: 55%;
  float: left;
}

.more_projects_text h1 {
  letter-spacing: 4;
  font-size: 34px;
  font-family: helvetica, sans-serif;
  color: #1A505A;
  font-weight: 600;
}

.more_projects_text h2{
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
  margin-top: -20px;
  text-align: center;
  letter-spacing: 1;
  font-weight: 400;
}

.more_projects_text p {
  letter-spacing: 1;
  font-size: 18px;
  text-align: center;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  width: 75%;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 15px;
}

.more_projects_button {
  text-align: center;
  margin-top: 20px;
}

.button_projects {
  width: 140px;
  height: 45px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #232323;
  background-color: #fff;
  background: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button_projects:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.gym {
  clear: both;
  padding-top: 80px;
}

.gym img {
  width: 45%;
  float: left;
  background-image: url(../images/simplebox_laptop.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}

.gym_text {
  width: 55%;
  float: left;
}

.gym_text h1 {
  letter-spacing: 4;
  font-size: 34px;
  font-family: helvetica, sans-serif;
  color: #CA6435;
  font-weight: 600;
}

.gym_text h2 {
  font-size: 18px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: #232323;
  margin-top: -20px;
  text-align: center;
  letter-spacing: 1;
  font-weight: 400;
}

.gym_text p{
  letter-spacing: 1;
  font-size: 18px;
  text-align: center;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  width: 75%;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 15px;
}

@media screen and (max-width: 640px) {
  .project_container {
    width: 80%;
    padding: 0;
  }
  .ridestarter_container img{
   max-width: 100%;
  }
  .ridestarter_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .ridestarter_text p {
    text-align: center;
    width: 100%;
  }
  .simplebox_container img {
    width: 100%;
  }
  .simplebox_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .simplebox_text p{
    text-align: center;
    width: 100%;
  }
  .more_projects img {
    width: 100%;
  }
  .more_projects_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .more_projects_text p {
    text-align: center;
    width: 100%;
  }
  .gym_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .gym_text p {
    text-align: center;
    width: 100%;
  }
  .gym img {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .project_container {
    width: 80%;
    padding: 0;
  }
  .ridestarter_container img{
   max-width: 60%;
   margin-left: 18%;
  }
  .ridestarter_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .simplebox_container img {
    width: 60%;
    margin-left: 18%;
  }
  .simplebox_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .more_projects img {
    width: 60%;
    margin-left: 18%;
  }
  .more_projects_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .gym img {
    width: 60%;
    margin-left: 18%;
  }
  .gym_text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

/* PROJECTS */

/* CONTACT*/

.contact {
  padding-top: 40px;
  clear: both;
}

.contact h1 {
  letter-spacing: 5;
  font-size: 38px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: #1A505A;
  font-weight: 600;
}

.contact_container {
  width: 50%;
  margin: 0 auto;
  padding-top: -50px;
  padding-bottom: 50px;
  text-align: center;
}

.contact_container p {
  letter-spacing: 1;
  font-size: 18px;
  text-align: center;
  color: #232323;
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-weight:400;
  margin: 0 auto;
  line-height: 1.8em;
  padding-bottom: 20px;
}

.contact_container .button {
  color: #232323;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .contact_container {
    width: 80%;
  }
  .contact_container p {
    font-size: 18px;
  }
}


/* CONTACT */


/* FOOTER */

.footer {
  width: 100%;
  background-color: #1A505A;
  padding-bottom: 50px;
  padding-top: 20px
}
.left_footer {
  float: left;
  padding-left: 100px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 10px;
}

.right_footer {
  color: white;
  letter-spacing: 3px;
  float: right;
  margin-right: 100px;
}
.fa {
  color: white;
  cursor: pointer;
  letter-spacing: 5px;
}

@media screen and (max-width: 640px)  {
  .right_footer {float: none;text-align: center; margin-top: 20px;}
  .left_footer {
    float: none;
  }
}

@media (min-width: 1440px) {
  .project_container {width: 70%;}
}

/* FOOTER */
